$max-content-width: 640;
$min-content-width: 480;
$min-viewport-width: 320;

$darker-background-color: #797979;
$dark-background-color: #535353;
$background-color: #2d2d2d;
$text-color: #eee;
$light-text-color: #ccc;

$accent-color: #00d41f;
$dark-accent-color: #3cb2b2;
$third-accent-color: #00e2ef;