$max-content-width: 640;
$min-content-width: 480;
$min-viewport-width: 320;

$darker-background-color: #888;
$dark-background-color: #666;
$background-color: #444;
$text-color: #eee;
$light-text-color: #ccc;

$accent-color: #1ed10d;
