$max-content-width: 640;
$min-content-width: 480;
$min-viewport-width: 320;

$darker-background-color: #888;
$dark-background-color: #1c1c1c;
$background-color: #2d2d2d;
$text-color: #eee;
$light-text-color: #ccc;

$accent-color: #00d640;
$dark-accent-color: #00dc94;
