@import 'constants';

html,
body {
  position: relative;
  background-color: $background-color;
  color: $text-color;
}

body {
  max-width: $max-content-width + px;
  min-width: $min-content-width + px;
  margin: 0 auto;
  height: 100%;
}

html,
body,
button,
input {
  font-family: 'IBM Plex Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
.accent {
  color: #ffa34d;
}

h1,
h2,
h3,
h4,
h5,
.header {
  font-family: 'Nova Mono', monospace;
}
