@import 'constants';
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Montserrat+Subrayada:wght@700&family=Orbitron&display=swap');

html,
body {
  position: relative;
  height: 100%;
  background-color: $background-color;
  color: $text-color;
}

body {
  max-width: $max-content-width + px;
  min-width: $min-content-width + px;
  margin: 0 auto;
  height: 100%;
}

html,
body,
input {
  font-family: 'Chakra Petch', sans-serif;
}

a {
  color: inherit;
  font-weight: bold;
}

h1,
.alternate-font {
  font-family: 'Montserrat Subrayada', sans-serif;
  user-select: none;
}
h2,
h3,
button,
.nav-item-content,
.disclaimer,
.alternate-font {
  font-family: 'Orbitron', sans-serif;
  user-select: none;
}

h1,
h2,
h3,
.disclaimer,
.accent-color {
  color: $accent-color;
}

h4 {
  color:$dark-accent-color;
}

input,
button {
  color: $text-color;
  background-color: $dark-background-color;
  border: 0;

  &::placeholder {
    color: $light-text-color;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid $light-text-color;
}