@import 'constants';

@function css-min($values...) {
  @return min + unquote('(') + $values + unquote(')');
}

html {
  --page-width: 99999999999;
  --scale: min(1, calc(max(#{$min-viewport-width}, var(--page-width)) / #{$min-content-width}));

  transform-origin: top left;

  transform: scale(var(--scale));
  height: calc(100% * 1 / var(--scale));
}
